In [16]:
import pandas as pd
import numpy as np

In [17]:
# Load the dataset
df = pd.read_csv('creditCard.csv')

In [18]:
df.shape

(96675, 23)

In [19]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,1200000,2020-05-17 00:43:35,30343344410970,fraud_Pagac LLC,shopping_pos,4.61,Jacob,Dawson,M,663 Anna Plaza,...,41.4622,-79.1306,4172,"Copywriter, advertising",1962-03-20,3535217e24fcee2c22795b6c65274866,1368751415,40.528247,-78.978530,0
1,1200001,2020-05-17 00:43:51,30230540139182,fraud_Jaskolski-Vandervort,misc_net,109.15,Hayden,Sanders,M,8465 Reed Green Suite 559,...,40.9661,-76.8575,645,Orthoptist,1974-05-18,5487d9e235bec3909650bc50c96f3a39,1368751431,40.223880,-77.704593,0
2,1200002,2020-05-17 00:44:51,4210078554961359092,"fraud_Roob, Conn and Tremblay",shopping_pos,1.48,Valerie,Clark,F,7402 West Ranch,...,43.9210,-122.7806,1420,Systems analyst,1965-11-11,ae0ba2fa7851f505bfa9ada75f62d9e8,1368751491,43.782789,-122.556202,0
3,1200003,2020-05-17 00:45:23,4708992452821239,"fraud_Reichert, Rowe and Mraz",shopping_net,2.11,Jared,Walters,M,3326 Hannah Fords,...,35.8184,-91.3375,376,"Designer, ceramics/pottery",1938-09-08,b3f2eaa28d520f86f7e646f84cad76e2,1368751523,36.354449,-92.184261,0
4,1200004,2020-05-17 00:45:51,4658490815480264,fraud_Flatley-Durgan,misc_net,6.89,Tara,Richards,F,4879 Cristina Station,...,39.9636,-79.7853,184,Systems developer,1945-11-04,fccdd407f5e03c7f09b0698a8832a8f3,1368751551,39.168299,-80.187157,0

In [20]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96675 entries, 0 to 96674
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             96675 non-null  int64
 1   trans_date_trans_time  96675 non-null  object
 2   cc_num                 96675 non-null  int64
 3   merchant               96675 non-null  object
 4   category               96675 non-null  object
 5   amt                    96675 non-null  float64
 6   first                  96675 non-null  object
 7   last                   96675 non-null  object
 8   gender                 96675 non-null  object
 9   street                 96675 non-null  object
 10  city                   96675 non-null  object
 11  state                  96675 non-null  object
 12  zip                    96675 non-null  int64
 13  lat                    96675 non-null  float64
 14  long                   96675 non-null  float64
 15  city_pop               96675 non-null  int64
 16  job                    96675 non-null  object
 17  dob                    96675 non-null  object
 18  trans_num              96675 non-null  object
 19  unix_time              96675 non-null  int64
 20  merch_lat              96675 non-null  float64
 21  merch_long             96675 non-null  float64
 22  is_fraud               96675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 17.0+ MB

In [21]:
df.drop(columns=['first','last','street','city','zip', 'city_pop','job'], inplace=True)  # Replace with irrelevant column

In [22]:

df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,gender,state,lat,long,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,1200000,2020-05-17 00:43:35,30343344410970,fraud_Pagac LLC,shopping_pos,4.61,M,PA,41.4622,-79.1306,1962-03-20,3535217e24fcee2c22795b6c65274866,1368751415,40.528247,-78.978530,0
1,1200001,2020-05-17 00:43:51,30230540139182,fraud_Jaskolski-Vandervort,misc_net,109.15,M,PA,40.9661,-76.8575,1974-05-18,5487d9e235bec3909650bc50c96f3a39,1368751431,40.223880,-77.704593,0
2,1200002,2020-05-17 00:44:51,4210078554961359092,"fraud_Roob, Conn and Tremblay",shopping_pos,1.48,F,OR,43.9210,-122.7806,1965-11-11,ae0ba2fa7851f505bfa9ada75f62d9e8,1368751491,43.782789,-122.556202,0
3,1200003,2020-05-17 00:45:23,4708992452821239,"fraud_Reichert, Rowe and Mraz",shopping_net,2.11,M,AR,35.8184,-91.3375,1938-09-08,b3f2eaa28d520f86f7e646f84cad76e2,1368751523,36.354449,-92.184261,0
4,1200004,2020-05-17 00:45:51,4658490815480264,fraud_Flatley-Durgan,misc_net,6.89,F,PA,39.9636,-79.7853,1945-11-04,fccdd407f5e03c7f09b0698a8832a8f3,1368751551,39.168299,-80.187157,0

In [23]:
df.describe()

,Unnamed: 0,cc_num,amt,lat,long,unix_time,merch_lat,merch_long,is_fraud
count,9.667500e+04,9.667500e+04,96675.000000,96675.00000,96675.000000,9.667500e+04,96675.000000,96675.000000,96675.000000
mean,1.248337e+06,4.148699e+17,70.508180,38.55396,-90.238190,1.370305e+09,38.550317,-90.239767,0.005844
std,2.790781e+04,1.305880e+18,177.920325,5.07937,13.800611,8.650582e+05,5.113650,13.810177,0.076225
min,1.200000e+06,6.041621e+10,1.000000,20.02710,-165.672300,1.368751e+09,19.031242,-166.653926,0.000000
25%,1.224168e+06,1.800429e+14,9.600000,34.66890,-96.809400,1.369557e+09,34.743434,-96.937957,0.000000
50%,1.248337e+06,3.521417e+15,47.870000,39.37160,-87.476900,1.370289e+09,39.366429,-87.446258,0.000000
75%,1.272506e+06,4.642255e+15,83.160000,41.94880,-80.158000,1.371064e+09,41.962339,-80.258335,0.000000
max,1.296674e+06,4.992346e+18,27119.770000,65.68990,-67.950300,1.371817e+09,66.682905,-66.958659,1.000000

In [24]:
df.shape

(96675, 16)

In [25]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from geopy.distance import geodesic


# 2. Convert `trans_date_trans_time` to datetime and extract useful features
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
# Extract the date part
df['transaction_date'] = df['trans_date_trans_time'].dt.date

# Extract the time part
df['transaction_time'] = df['trans_date_trans_time'].dt.time
# 3. Calculate age from `dob`
df['dob'] = pd.to_datetime(df['dob'])
df['age'] = (df['trans_date_trans_time'] - df['dob']).dt.days // 365

# 5. Handle categorical variables using Label Encoding or One-Hot Encoding
label_encoder = LabelEncoder()

df['gender'] = label_encoder.fit_transform(df['gender'])  # M = 1, F = 0

In [26]:
# If `cc_num` should be treated as a number, convert it to an integer
df['cc_num'] = pd.to_numeric(df['cc_num'], errors='coerce')  # Convert to numeric if possible

In [27]:
df['category'] = label_encoder.fit_transform(df['category'])

In [28]:
print(df)
print(df.dtypes)

       Unnamed: 0 trans_date_trans_time               cc_num  \
0         1200000   2020-05-17 00:43:35       30343344410970
1         1200001   2020-05-17 00:43:51       30230540139182
2         1200002   2020-05-17 00:44:51  4210078554961359092
3         1200003   2020-05-17 00:45:23     4708992452821239
4         1200004   2020-05-17 00:45:51     4658490815480264
...           ...                   ...                  ...
96670     1296670   2020-06-21 12:12:08       30263540414123
96671     1296671   2020-06-21 12:12:19     6011149206456997
96672     1296672   2020-06-21 12:12:32     3514865930894695
96673     1296673   2020-06-21 12:13:36     2720012583106919
96674     1296674   2020-06-21 12:13:37  4292902571056973207

                                  merchant  category     amt  gender state  \
0                          fraud_Pagac LLC        12    4.61       1    PA
1               fraud_Jaskolski-Vandervort         8  109.15       1    PA
2            fraud_Roob, Conn and Tremblay        12    1.48       0    OR
3            fraud_Reichert, Rowe and Mraz        11    2.11       1    AR
4                     fraud_Flatley-Durgan         8    6.89       0    PA
...                                    ...       ...     ...     ...   ...
96670                    fraud_Reichel Inc         0   15.56       1    UT
96671             fraud_Abernathy and Sons         1   51.70       1    MD
96672                 fraud_Stiedemann Ltd         1  105.93       1    NM
96673  fraud_Reinger, Weissnat and Strosin         1   74.90       1    SD
96674  fraud_Langosh, Wintheiser and Hyatt         1    4.30       1    MT

           lat      long        dob                         trans_num  \
0      41.4622  -79.1306 1962-03-20  3535217e24fcee2c22795b6c65274866
1      40.9661  -76.8575 1974-05-18  5487d9e235bec3909650bc50c96f3a39
2      43.9210 -122.7806 1965-11-11  ae0ba2fa7851f505bfa9ada75f62d9e8
3      35.8184  -91.3375 1938-09-08  b3f2eaa28d520f86f7e646f84cad76e2
4      39.9636  -79.7853 1945-11-04  fccdd407f5e03c7f09b0698a8832a8f3
...        ...       ...        ...                               ...
96670  37.7175 -112.4777 1961-11-24  440b587732da4dc1a6395aba5fb41669
96671  39.2667  -77.5101 1979-12-11  278000d2e0d2277d1de2f890067dcc0a
96672  32.9396 -105.8189 1967-08-30  483f52fe67fabef353d552c1e662974c
96673  43.3526 -102.5411 1980-08-18  d667cdcbadaaed3da3f4020e83591c83
96674  45.8433 -113.8748 1995-08-16  8f7c8e4ab7f25875d753b422917c98c9

        unix_time  merch_lat  merch_long  is_fraud transaction_date  \
0      1368751415  40.528247  -78.978530         0       2020-05-17
1      1368751431  40.223880  -77.704593         0       2020-05-17
2      1368751491  43.782789 -122.556202         0       2020-05-17
3      1368751523  36.354449  -92.184261         0       2020-05-17
4      1368751551  39.168299  -80.187157         0       2020-05-17
...           ...        ...         ...       ...              ...
96670  1371816728  36.841266 -111.690765         0       2020-06-21
96671  1371816739  38.906881  -78.246528         0       2020-06-21
96672  1371816752  33.619513 -105.130529         0       2020-06-21
96673  1371816816  42.788940 -103.241160         0       2020-06-21
96674  1371816817  46.565983 -114.186110         0       2020-06-21

      transaction_time  age
0             00:43:35   58
1             00:43:51   46
2             00:44:51   54
3             00:45:23   81
4             00:45:51   74
...                ...  ...
96670         12:12:08   58
96671         12:12:19   40
96672         12:12:32   52
96673         12:13:36   39
96674         12:13:37   24

[96675 rows x 19 columns]
Unnamed: 0                        int64
trans_date_trans_time    datetime64[ns]
cc_num                            int64
merchant                         object
category                          int32
amt                             float64
gender                            int32
state                            object
lat                             float64
long                            float64
dob                      datetime64[ns]
trans_num                        object
unix_time                         int64
merch_lat                       float64
merch_long                      float64
is_fraud                          int64
transaction_date                 object
transaction_time                 object
age                               int64
dtype: object

In [29]:
# 6. Drop now-unneeded columns
df = df.drop(['Unnamed: 0','trans_date_trans_time', 'lat', 'long', 'merch_lat','trans_num', 'merch_long','merchant','dob','','transaction_date','transaction_time','unix_time'], axis=1)

# 7. Handle missing values: Apply median only to numeric columns
numeric_columns = df.select_dtypes(include=[np.number]).columns
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].median())

# 8. Scale numeric features
scaler = StandardScaler()
df[['amt',  'age']] = scaler.fit_transform(df[['amt',  'age']])
# Convert 'amt' and 'age' to absolute values to avoid negative values
df['amt'] = df['amt'].abs()
# Remove any decimals and ensure it's an integer
df['amt'] = df['amt'].abs().apply(lambda x: int(f"{x:.6f}".replace(".", "")[:6]))

df['age'] = df['age'].abs()
# Remove any decimals and ensure it's an integer
df['age'] = df['age'].abs().apply(lambda x: int(f"{x:.3f}".replace(".", "")[:3]))


# Ensure 'age' is between 0 and 100
df['age'] = df['age'].apply(lambda x: max(0, min(100, x)))
df['trans_num'] = df['trans_num'].astype(str)
df['trans_num'] = df['trans_num'].str.extract('(\d{7})')[0]
# Keep only the first 10 digits
df['cc_num'] = df['cc_num'].astype(str)
df['cc_num'] = df['cc_num'].str.extract('(\d{10})')[0]

# If `cc_num` should be treated as a number, convert it to an integer
df['cc_num'] = pd.to_numeric(df['cc_num'], errors='coerce')  # Convert to numeric if possible
df['trans_num'] = pd.to_numeric(df['trans_num'], errors='coerce')  # Convert to numeric if possible
df.loc[df['trans_num'].isna(), 'trans_num'] = np.random.randint(1000000, 10000000, size=df['trans_num'].isna().sum())
df = df[[col for col in df.columns if col != 'is_fraud'] + ['is_fraud']]
df['is_fraud'] = np.random.choice([0, 1], size=96675)

# 10. Save the preprocessed data
df.to_csv('preprocessFraudTrain.csv', index=False)

print(df.head())

KeyError: "['ste'] not found in axis"

In [2]:
import pandas as pd 
preprocessdf=pd.read_csv("preprocessFraudTrain.csv")

In [4]:
print(preprocessdf)
print(preprocessdf.dtypes)

           cc_num  category    amt  gender  trans_num  age  is_fraud
0      3034334441        12  37038       1  3535217.0   67         0
1      3023054013         8  21718       1  3909650.0    0         1
2      4210078554        12  38797       0  7596041.0   45         0
3      4708992452        11  38443       1  3978061.0  100         0
4      4658490815         8  35756       0  8138733.0  100         1
...           ...       ...    ...     ...        ...  ...       ...
96670  3026354041         0  30883       1  7771316.0   67         1
96671  6011149206         1  10571       1  4752764.0   35         0
96672  3514865930         1  19908       1  1466956.0   33         1
96673  2720012583         1   2468       1  4117562.0   40         1
96674  4292902571         1  37212       1  4840234.0  100         0

[96675 rows x 7 columns]
cc_num         int64
category       int64
amt            int64
gender         int64
trans_num    float64
age            int64
is_fraud       int64
dtype: object

In [7]:
print(preprocessdf.shape)

(96675, 7)

In [226]:

df=df.dropna()

In [227]:
df['trans_num'] = df['trans_num'].astype('float32')
df['cc_num'] = df['cc_num'].astype('int64')  # if cc_num is a numeric ID

In [228]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

# Split the data into features and target
X = df.drop(['is_fraud'], axis=1)  # Features
y = df['is_fraud']                 # Target

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train a Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [229]:
import pickle

# Save the model
with open('logistic_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [230]:
import joblib

# Assuming you have already trained a fraud detection model named `fraud_model`
# fraud_model = ... (code to train the model)

# Save the trained model using joblib
joblib.dump(model, 'fraud_model.joblib')

print("Model saved successfully!")

Model saved successfully!

In [231]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Logistic Regression Accuracy: {accuracy:.4f}")

Logistic Regression Accuracy: 0.5020

In [181]:
# Import necessary libraries
from sklearn.metrics import classification_report, confusion_matrix

# Confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

Confusion Matrix:
[[5612 4082]
 [5561 4080]]

In [182]:

# Additional evaluation metrics
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.50      0.58      0.54      9694
           1       0.50      0.42      0.46      9641

    accuracy                           0.50     19335
   macro avg       0.50      0.50      0.50     19335
weighted avg       0.50      0.50      0.50     19335

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Initialize and train the Random Forest model
random_forest_model = RandomForestClassifier(random_state=42)
random_forest_model.fit(X_train, y_train)

In [ ]:
# Predict on the test data
y_pred = random_forest_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Random Forest Accuracy: {accuracy:.4f}")

In [ ]:
# Additional evaluation metrics
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Initialize and train the Decision Tree model
decision_tree_model = DecisionTreeClassifier(random_state=42)
decision_tree_model.fit(X_train, y_train)

# Predict on the test data
y_pred = decision_tree_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Decision Tree Accuracy: {accuracy:.4f}")

In [ ]:
# Additional evaluation metrics
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

In [ ]:
from sklearn.svm import SVC

In [ ]:
# Initialize and train the SVM model
svm_model = SVC(random_state=42)
svm_model.fit(X_train, y_train)

# Predict on the test data
y_pred = svm_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"SVM Accuracy: {accuracy:.4f}")

# Additional evaluation metrics
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier(n_neighbors=5)  # You can adjust the number of neighbors
knn_model.fit(X_train, y_train)

# Predict on the test data
y_pred = knn_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"KNN Accuracy: {accuracy:.4f}")

# Additional evaluation metrics
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

In [ ]:
# Define models
models = {
    'RandomForest': RandomForestClassifier(random_state=42),
    'LogisticRegression': LogisticRegression(random_state=42),
    'SVM': SVC(random_state=42),
    'DecisionTree': DecisionTreeClassifier(random_state=42),
    'KNN': KNeighborsClassifier(),
}

# Train and evaluate models
accuracy_results = {}
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    accuracy_results[model_name] = accuracy
    print(f"{model_name} Accuracy: {accuracy:.4f}")

# Display accuracy results
print("\nAccuracy results for each model:")
for model_name, accuracy in accuracy_results.items():
    print(f"{model_name}: {accuracy:.4f}")

In [ ]:
print(fraud_model)